@import url(http://fonts.googleapis.com/css?family=Lato|Inconsolata|Cabin+Sketch);
html {
    margin: 0;
}
body {
  margin: 0 auto;
  width: 720px;
}
h1 {
    font-family: Lato, Helvetica, Arial, sans-serif;
}
header, footer, section, article {
}
#findme {
/*    float: right;
*/}
#findme li {
/*    list-style: none;
    float: left;
    padding-left: 0px;
    padding-right: 0px;
*/}
#content {
}
#caption {
}
#path {
}
.date {
}
a {
}
h1 a {
}
a:hover {
}
.post header {
}
.post .body p:first-child {
}
.post .body p:last-child {
}
.post {
}
.post:last-child {
}
.post p {
}
.post .more {
}
.more a {
}
.more a:hover {
}
code {
}
pre {
}
blockquote {
}
