@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);
html {
}
body {
    margin: 0 auto;
    width: 720px;
    font-family: Helvetica, Arial, sans-serif;
}
h1 {
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
}
h1 a {
    color: black;
}
header, footer, section, article {
}
#sitetitle a {
    text-decoration: none;
    color: #000;
    font-size: 40px;
}
#sitetitle a:hover {
    text-decoration: underline;
}
nav {
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
}
nav ul {
    padding-left: 0;
}
nav ul li {
    display: inline;
    list-style: none;
}
#findme {
}
#findme ul {
    padding-left: 0;
}
#findme ul li {
    display: inline;
    list-style: none;
}
#content {
}
#caption {
}
#path {
}
.date {
}
a {
}
h1 a {
}
a:hover {
}
.post header {
}
.post .body p:first-child {
}
.post .body p:last-child {
}
.post {
}
.post:last-child {
}
.post p {
}
.post .more {
}
.more a {
}
.more a:hover {
}
code {
}
pre {
}
blockquote {
}
