<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="alternate" type="application/atom+xml" title="<%= title %> - feed" href="/index.xml">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
    <title>
        <% if @path == 'index' %>
        Jason Wells
        <% elsif @path.split('/').compact.length == 4 %>
        <%= title %> - Jason Wells
        <% else %>
        <%= @path.capitalize.gsub(/[-]/, ' ') %> - Jason Wells
        <% end %>
    </title>
    <meta name="description" content="<%= @context[:description] || 'A blog by Jason Wells' %>">
</head>
<body>
    <header>
        <h1 id="sitetitle"><a href="/" alt="jasonawells.com" rel="home">Jason Wells</a></h1>
    </header>
    <nav>
        <ul>
            <li><a href="/colophon" alt="colophon" rel="colophon">Colophon</a></li>
            <li><a href="/archives" alt="archives" rel="archives">Archive</a></li>
            <li><a href="/contact" alt="contact" rel="contact">Contact</a></li>
        </ul>
    </nav>
    <div id="findme">
    <ul>
        <li><a href="http://github.com/jasonwells"><img src="/images/github_alt.png" alt="github"></a></li>
        <li><a href="http://twitter.com/wellsja"><img src="/images/twitter.png" alt="twitter"></a></li>
        <li><a href="https://plus.google.com/102512603346726762603"><img src="/images/google_plus.png" alt="google+"></a></li>
        <li><a href="http://facebook.com/flipstock"><img src="/images/facebook.png" alt="facebook"></a></li>
    </ul>
    </div>
    <section id="main">
        <%= yield %> 
    </section>
    <footer>
        <p>powered by <a href="http://cloudhead.io/toto">toto</a></p>
    </footer>
</body>
</html>

